<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>Sign Up</title>
  </head>
  <body>
    <%- include('../_header') %>
    <h1>Create a new account!</h1>
    
    <% if (message) { %>
      <div id="message"><%= message %></div>
      <script>
          setTimeout(() => {
              document.getElementById('message').style.display = 'none';
              window.location.href = '/auth/sign-up';
          }, 3000); // 3000ms = 3 seconds
      </script>
  <% } %>
  
    <form action="/auth/sign-up" method="POST">
      <label for="username">Username:</label>
      <input type="text" name="username" id="username" />
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" />
      <label for="confirmPassword">Confirm Password:</label>
      <input type="password" name="confirmPassword" id="confirmPassword" />
      <button type="submit">Sign up</button>
      <a href="/">Back to Home</a>
    </form>
  </body>
</html>
