<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>T-Shirts Index</title>
  </head>
  <body>
    <%- include('../_header') %>
    
    <% if (message) { %>
      <p><%= message %></p>
    <% } %>
    
    <h1>All T-Shits</h1>
    <ul>
      <% tshirts.forEach(tshirt => { %>
        <li><a href="/tshirts/<%= tshirt._id %>"> <%= tshirt.name %></a></li>
      <% }); %>
    </ul>
    <p> Click on any T-Shirt to edit or delete</p>
    <a href="tshirts/new">Add a T-shirt</a>
  </body>
</html>
