<header>
  <div class="header-image"></div>
  <nav>
    <button onclick="window.location.href='/' ; " class="GFG">Home</button>
    <button onclick="window.location.href='/tshirts' ; " class="GFG">All T-Shirts</button>
    <% if (user) { %>
      <span>Welcome, <%= user.username %></span>
      <button onclick="window.location.href='/auth/logout' ; " class="GFG">Logout</button>
      <% } else { %>
        <button onclick="window.location.href='/auth/login' ; " class="GFG">Login</button>
        <button onclick="window.location.href='/auth/sign-up' ; " class="GFG">Sign-Up</button>
        <% } %>
  </nav>
</header> 