<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>T-Shirt</title>
  </head>
  <body>
    <%- include('_header', { user: user }) %>
    <h1>Welcome to the T-shirt app!</h1>
    <p>This app will allow you to manage all of your T-Shirt inventory.</p>
    <p> You can brows through the app without logging in, but you will not be able to create, update, or delete.</p>
    
   
  </body>
</html>
